<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<a href='/customers'>Customers</a>
<a href='/employees'>Employees</a>
<a href='/inventory'>Inventory</a>
<a href='/invoices'>Invoices</a>
<a href='/models'>Models</a>
<a href='/trims'>Trims</a>
<body>

    {{{body}}}

</body>
</html>
