<h1>Inventory</h1>
<div id="Inventory">
    <h2><a href="#" onClick="Inventory()">Inventory</a></h2>
    <table border="1" cellpadding="5">
        <tr>
            <th><a href="#" onClick="add_UnitsOnSite()">Add Unit Onsite</a></th>
            <th><a href="#" onClick="add_UnitsForOrder()">Add Unit For Order</a></th>
            <th>available_UnitsOnSite</th>
            <th>available_UnitsForOrder</th>
        </tr>
        <tr>
          <td><a href="#" onClick="addToOnSite('this.available_UnitsForOrder')">+1</a></td>
          <td><a href="#" onclick="addToForOrder('this.available_UnitsForOrder')">+1</a></td>
          <td align="right" >22</td>
          <td align="right" >2</td>
        </tr>
      
      </table>
    </div>
    
    <p><a href="/" onClick="Main()">HomePage</a> </p>